<div class="container">
	<% @poems.each do |poem| %>
		<div class="row">
			<h3><%= link_to "#{poem.title}", Poem.find(poem.id) %></h3>
			<% if poem.submitted? %>
				<h5><em>Submitted</em></h5>
			<% else %>
				<h5><em>Not Yet Submitted</em><h5>
			<% end %>
		</div> <!-- row -->
	<% end %>
	<br>
	<%= link_to "Home", '/player' %>
</div>
