<h1>Created Rounds</h1>
<% @created_rounds.each do |round| %>
  <%= link_to "#{round.title}", round_path(round.id) %><br>
  <%= link_to "Edit", edit_round_path(round.id) %><br>
  <%= link_to "Add some players", "rounds/add_players/#{round.id}" %><br>
<% end %>

<br> 
<h1>Rounds You are Participating In</h1>
<% (@rounds - @created_rounds).each do |round| %>
  <%= link_to "#{round.title}", round_path(round.id) %><br>
<% end %>

