<h1>The Poetry Game</h1>
<p class="lead"> The poetry game is simple! Here's what you do:<p>
<ol>
  <li>Come up with the title of a poem</li>
  <li>How many lines will the poem have?</li>
  <li>How many syllables should each line contain?</li>
</ol>
<p>Once you've decided on the title and structure of the poem, invite others to submit their version of the poem you created. Share you poem with everyone, only let the group see, or keep it to yourself.</p>

<p>Ready to <%= link_to "make a round", new_round_path %>? Or go back <%= link_to "home", "/player" %>?
