<p class="tag_line">THE POETRY GAME</p>
<hr>
<p class="welcome">Hey there.</p>
<p>You looking good. You should get in on this.</p>
<p><%= link_to "Sign Up", new_user_registration_path %>  or  <%= link_to "Sign In", new_user_session_path%></p>
