// Place all the styles related to the Rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.syllables {
	color: #ffaaff;
	font-family: ariel;
	font-size: 18pt;

}

.syllables > input {
	color: #111111;
	width: 100px;
}