// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  font-size: 33pt;
  color: #222222;
}

.tag_line {
	color: #1188ee;
	font-family: ariel;
}
